.overlay{
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, 0.4);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.overlayVisible{
    visibility: visible;
    opacity: 1;
    .drawer{
        transform: translateX(0%);
    }
}
.drawer{
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    background-color: #ffffff;
    box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
    padding: 30px;

    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    .items{
        overflow: auto;
        margin-bottom: 20px;
    }
    h2{
        margin: 0;

        .cartButton{
            
            &:hover{
                // width: 40px;
                // height: 40px;
            }
        }
    }
    .cartItems{
        flex:1;
    }
}